$editor-header-height: 34px;
$editor-toolbar-height: 40px;
$editor-formula-height: 24px;

$dashboard-header-height: 64px;

$black: #000;
$silver: #c0c0c0;
$dark-blue: #1a73e8;
$alice-blue: #f8f9fa;
$light-blue: #dadce0;
$blue: #3c74ff;
$grey: #eee;
$dark-grey: #888;
$light-grey: #e2e3e3;
$white: #fff;
$green: #008000;
$light-green: #e6f4ea;

$cell-label-width: 40px;
$cell-width: 120px;
$cell-min-width: 40px;

$row-height: 24px;